[submodule ".vim"]
	path = .vim
	url = https://git.cse.iitb.ac.in/murukesh/vimrc.git
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
