[submodule "bundle/eregex.vim"]
	path = bundle/eregex.vim
	url = https://github.com/othree/eregex.vim.git
	ignore = dirty
[submodule "bundle/LaTeX-Box"]
	path = bundle/LaTeX-Box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
	ignore = dirty
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
	ignore = dirty
[submodule "bundle/AnsiEsc.vim"]
	path = bundle/AnsiEsc.vim
	url = https://github.com/vim-scripts/AnsiEsc.vim
